# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [53]:
import os
import glob
import psycopg2
import pandas as pd
import json
from scripts.sql_queries import *

In [122]:
conn = psycopg2.connect("host=postgres dbname=sparkifydb user=udacity password=udacity")
cur = conn.cursor()

In [110]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [111]:
song_files = get_files('data/song_data')

In [112]:
filepath = song_files[0]
print(filepath)

/home/jovyan/data/song_data/A/A/A/TRAAAEF128F4273421.json

In [113]:
with open(filepath, 'r') as f:
    data = json.load(f)
    
df = pd.DataFrame(data, index=[0])
df.head(10)

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AR7G5I41187FB4CE6C,None,None,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [114]:
song_df = df[['song_id', 'title',  'artist_id', 'year', 'duration']]
song_data = song_df.values
song_data = song_data[0]
song_data = song_data.tolist()
print(song_data)

['SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [10]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [123]:
artist_df = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']]
artist_data = artist_df.values
artist_data = artist_data[0]
artist_data = artist_data.tolist()

artist_data = ['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', 37.77916, -122.42005]
print(artist_data)

['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', 37.77916, -12.42005]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [124]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [13]:
log_files = get_files('data/log_data')

In [14]:
filepath = log_files[0]
print(filepath)

/home/jovyan/data/log_data/2018/11/2018-11-11-events.json

In [20]:
data = []
with open(filepath, 'r') as f:
    while True: 
        line = f.readline() 
        if not line: 
            break
        else:
            data.append(json.loads(line))

df = pd.DataFrame(data)
df.head(10)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
3,None,Logged In,Lily,F,0,Burns,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.540621e+12,456,None,200,1541910841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,1541911006796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75
6,Gary Allan,Logged In,Ryann,F,0,Smith,259.83955,free,"Palestine, TX",PUT,NextSong,1.540685e+12,328,The One,200,1541930188796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,92
7,Miracle Fortress,Logged In,Ryann,F,1,Smith,200.90730,free,"Palestine, TX",PUT,NextSong,1.540685e+12,328,Five Roses,200,1541930447796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,92
8,Don Omar,Logged In,Ryann,F,2,Smith,261.35465,free,"Palestine, TX",PUT,NextSong,1.540685e+12,328,Cuentale,200,1541930647796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,92
9,Jay-Z,Logged In,Ryann,F,3,Smith,212.27057,free,"Palestine, TX",PUT,NextSong,1.540685e+12,328,D'Evils,200,1541930908796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,92

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [21]:
df = df.loc[df['page'] == 'NextSong']
# df = df.loc[df['song'] == "I Didn't Mean To"]
df.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69

In [98]:
t = df['ts']
print(t[0])
t = pd.to_datetime(t, unit='ms')
print(t[0])

1541903636796
2018-11-11 02:33:56.796000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [82]:
time_data = (
    t.dt.tz_localize('UTC').values, 
    t.dt.hour.tolist(), 
    t.dt.day.tolist(),
    t.dt.isocalendar().week.tolist(),  
    t.dt.month.tolist(), 
    t.dt.year.tolist(), 
    t.dt.weekday.tolist()
)
column_labels = ('timestamp', 'hour', 'day', 'week', 'month', 'year', 'weekday')

0    2018-11-11 02:33:56.796000+00:00
1    2018-11-11 02:36:10.796000+00:00
2    2018-11-11 02:40:34.796000+00:00
4    2018-11-11 04:36:13.796000+00:00
5    2018-11-11 04:36:46.796000+00:00
                   ...
90   2018-11-11 21:09:28.796000+00:00
91   2018-11-11 21:13:48.796000+00:00
92   2018-11-11 21:17:29.796000+00:00
93   2018-11-11 23:39:00.796000+00:00
94   2018-11-11 23:42:28.796000+00:00
Name: ts, Length: 73, dtype: datetime64[ns, UTC]

In [81]:
time_df = pd.DataFrame(dict(zip(column_labels, time_data)))
time_df.head()

                timestamp  hour  day  week  month  year  weekday
0 2018-11-11 02:33:56.796     2   11    45     11  2018        6
1 2018-11-11 02:36:10.796     2   11    45     11  2018        6
2 2018-11-11 02:40:34.796     2   11    45     11  2018        6
3 2018-11-11 04:36:13.796     4   11    45     11  2018        6
4 2018-11-11 04:36:46.796     4   11    45     11  2018        6

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [106]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [48]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_df.head(13)

   userId firstName   lastName gender level
0      69  Anabelle    Simpson      F  free
1      69  Anabelle    Simpson      F  free
2      69  Anabelle    Simpson      F  free
4      32      Lily      Burns      F  free
5      75    Joseph  Gutierrez      M  free
6      92     Ryann      Smith      F  free
7      92     Ryann      Smith      F  free
8      92     Ryann      Smith      F  free
9      92     Ryann      Smith      F  free
10     92     Ryann      Smith      F  free
12     49     Chloe     Cuevas      F  free
13     49     Chloe     Cuevas      F  free
14     49     Chloe     Cuevas      F  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [70]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

insert into users (user_id, first_name, last_name, gender, level)
values (%s, %s, %s, %s, %s)
on conflict (user_id) do update set level = users.level;

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [107]:
for index, row in df.iterrows():
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()

    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None
        
    d = pd.to_datetime(row.ts, unit='ms')
    start_time, userid, level, sessionid, user_agent = d.tz_localize('UTC'), row.userId, row.level, row.sessionId, row.userAgent
    songplay_data = (start_time, userid, level, songid, artistid, sessionid, user_agent)
    try:
        res = cur.execute(songplay_table_insert, songplay_data)
        conn.commit()
    except Exception as e:
        print(e)

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.